
.col2 {
  background-color: #D5E2E8;
  background-color: #5F819D;
  background-color: #E83B4F;
  background-color: #9299B3;
  background-color: #013660;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg_blue {background-color:#013660;}
.bg_light {background-color: #D5E2E8;}
.bg_pink {background-color: #E83B4F;}
.bg_greenblue {background-color:#5F819D;}
.bg_grayblue {background-color: #9299B3;}


.fs-70 { font-size: 70px; }
.fs-50 { font-size: 50px; }
.fs-30 { font-size: 30px; }
.fs-25 { font-size: 25px; }

.dis-none { display: none; }
.dis-flx { display:flex; }


.index_wrap {
  /* height: 100vh; */
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_image {
  width: 50%;
  display: flex;
  margin: 10px;
}
.index_wrap .img_wrap {
  width: 100%;
  background-color:#D5E2E8;
  border-radius: 25px;
}
.index_wrap .img_color_wrap {
  width: 85%;
  border-radius: 25px;
  background-color: #af0027;
  transform: translate(15%, 15%)
}
.index_wrap .img_color_wrap:hover {
  background-color:#E83B4F;  
}

.index_wrap .img_wrap img {
  width: 80%;
  border-radius: 25px;
  transform: translate(5%, -25%)
}
.index_wrap .img_color_wrap p{
  text-align: center;
  font-size: 25px;
  color:#D5E2E8;
  transform: translate(-5%, -55%)
}
.section_intro {
  width: 50%;
  margin: 10px;
}
.section_intro .text_box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section_intro .text_box .circle{
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: crimson;
}
/* 文字輪播 */
.index_wrap .words {
  font-size: 35px;
  font-weight: 600;
  color: #D5E2E8;
}
.index_wrap .words span {
  position: absolute;
  opacity: 0;
  animation: animate 12s linear infinite;
  color: #D5E2E8;
  white-space: nowrap;
}
.index_wrap .words span:nth-child(2) {animation-delay: 2s;}
.index_wrap .words span:nth-child(3) {animation-delay: 4s;}
.index_wrap .words span:nth-child(4) {animation-delay: 6s;}
.index_wrap .words span:nth-child(5) {animation-delay: 8s;}
.index_wrap .words span:nth-child(6) {animation-delay: 10s;}

@keyframes animate {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  2% {
      opacity: 1;
      transform: translateY(0);
  }
  10% {
      opacity: 1;
      transform: translateY(0);
  }
  12% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 0;
      transform: translateY(50px);
  }
}

/* 動畫 */
#ani_name{
  position: relative;
  animation-name: runningName;
  animation-timing-function:linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes runningName {
  0%   {left:0px;}
  50%  {left:10px;}
  100% {left:0px;}
}
.section_intro .text_box .circle p{
  font-weight: 600;
  color: #D5E2E8;
}
.section_intro .text_card {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.section_intro .text_card .card{
  width: 200px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: #5F819D;
  border-radius: 25px;
}
.section_intro .text_card .card:hover {
  background-color:#E83B4F;
}
.section_intro .text_card .card i{
  font-size: 4.5rem;
  margin: 15px;
  color: #D5E2E8;
  transition: 0.70s;
}
.section_intro .text_card .card i:hover{
  transform: rotate(15deg);
}
.section_intro .text_card .card .btn{
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  margin-top: 5px;
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
}
.section_intro .text_card .card .btn span {
  text-align: center;
  color: #D5E2E8;
  font-size: 25px;
  font-weight: 600;
}
/* basic page */
.basic_wrap {
  height: 100vh;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.basic_wrap .basic_section {
  width: 350px;
  border-radius: 25px;
}
.basic_wrap .basic_section .main_img_wrap {
  width : 100%;
  border-radius: 25px;
}
.basic_wrap .basic_section .main_img_wrap img{
  width : 100%;
  border-radius: 25px;
}
.basic_wrap .basic_section .img_wrap {
  width : 100%;
  border-radius: 25px;
  margin: 10px;
}
.basic_wrap .basic_section .img_wrap img {
  width : 90%;
  border-radius: 25px;
}
.basic_wrap .basic_section .btn_list{
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}
.basic_wrap .basic_section .btn_list i{
  font-size: 40px;
  color: #E83B4F;
  /* 動畫3 */
  position: relative;
  animation: spinPointer 2s infinite;
  animation-timing-function: linear;
}
@keyframes spinPointer {
  0% {left: 0px;}
  50% {left: 15px;}
  100% {left: 0px;}
}
.basic_wrap .basic_section .btn_list .btn{
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E83B4F;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  color: #D5E2E8;
  cursor: pointer;
  transition: 0.5s linear;
}
.basic_wrap .basic_section .btn_list .btn:hover{
  transform: translateY(-15%);
  /* transition: 0.5s linear; */
}
.basic_wrap .basic_section .content p{
  color: #013660;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
a {
  width: 100%;
  text-align: center;
  color: #D5E2E8;
  text-decoration: none;
  list-style: none;
}
/* skill page */
.skill_wrap {
  height: 100vh;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.skill_wrap .section {
  background-color: #D5E2E8;
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 5px;
  margin: 10px 0px;
  border-radius: 25px;
}
.skill_wrap .section i {
  color: #E83B4F;
}
.skill_wrap .section h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: #5F819D;
}
.skill_wrap .section .text_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 20px;
  color: #013660;
  line-height: 1.8rem;
}
.skill_circle{
  display: flex;
}
.skill_circle .circle{
  width:50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill_circle .circle span{
  font-weight: 600;
  color: #ffffff;
}


.skill_wrap .section .btn_list{
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}
.skill_wrap .section .btn_list i{
  font-size: 40px;
}
.skill_wrap .section .btn_list .btn{
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E83B4F;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  color: #D5E2E8;
  cursor: pointer;
  transition: 0.5s linear;
}
.skill_wrap .section .btn_list .btn:hover{
  transform: translateY(-15%);
}
/* headhunter page */
.kill_wrap {
  margin: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.kill_wrap .section_title{
  display: flex;
  align-items: center;
}
.kill_wrap .section {
  background-color: #D5E2E8;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  padding: 10px 5px;
  margin: 10px 0px;
  border-radius: 25px;
}
.kill_wrap .section i {
  color:  #E83B4F;
}
.kill_wrap .section h2{
  margin: 0;
  color: #001036;
}
 
.kill_wrap .section h4{
  margin: 0;
  color: #5F819D;
}

.kill_wrap .section .text_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 20px;
  color: #013660;
  line-height: 1.8rem;
}
.kill_wrap .section .text_content p{
  margin: 0;
}

.kill_circle{
  display: flex;
}
.kill_circle .circle{
  width:50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kill_circle .circle span{
  font-weight: 600;
  color: #ffffff;
}


.kill_wrap .section .btn_list{
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}
.kill_wrap .section .btn_list i{
  font-size: 40px;
}
.kill_wrap .section .btn_list .btn{
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E83B4F;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  color: #D5E2E8;
  cursor: pointer;
  transition: 0.5s linear;
}
.kill_wrap .section .btn_list .btn:hover{
  transform: translateY(-15%);
}
/* portfolio.html */
.portfolio_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio_wrap .board {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}
.portfolio_wrap .section {
  width: 85%;
}
.portfolio_wrap .first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0px;
}
.portfolio_wrap h1, h2 {
  margin: 0px 10px;
  color: #D5E2E8;
}

.portfolio_wrap .first .btn_list{
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}
.portfolio_wrap .first .btn_list i{
  font-size: 40px;
  color: #E83B4F;
}
.portfolio_wrap .first .btn_list .btn{
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E83B4F;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  color: #D5E2E8;
  cursor: pointer;
    transition: 0.5s linear;
}
.portfolio_wrap .first .btn_list .btn:hover{
  transform: translateY(-15%);
}

.portfolio_wrap .title{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
  font-weight: 600;
  background-color: #D5E2E8;
  /* 收合狀態 */
  border-radius: 25px;
}
.portfolio_wrap .title .project_title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 10px;
}
.portfolio_wrap .title .project_title h3{
  color: #013660;
}
.portfolio_wrap .title .project_title .open{
  margin: 0px 15px;
  font-size: 20px;
  color: #3d5f8e;
}
.portfolio_wrap .title .project_title .open:hover{
  color: #001036;
  cursor: pointer;
  transform: translate(0%, -5%)
}
.portfolio_wrap .title .connect_to {
  color: #E83B4F;
  padding: 10px 10px;
}
.portfolio_wrap .title .connect_to a{
  cursor: pointer;
}
.portfolio_wrap .title .connect_to span {
  color: #E83B4F;
}
.portfolio_wrap .info {
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 25px;
}
.portfolio_wrap .info .content_wrap{ 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.portfolio_wrap .info .close {
 display: flex;
 justify-content: center;
 background-color: #D5E2E8;
 border-radius: 0px 0px 25px 25px;
 padding: 10px 0px;

 font-weight: 600;
 font-size: 20px;
 color: #001036;
 cursor: pointer;
}

.portfolio_wrap .info .content {
  width: 300px;
  line-height: 1.8rem;
  margin: 10px 0px;
}
.portfolio_wrap .info .tag{
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_wrap .info .tag .circle{
  width:50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_wrap .info .tag .circle span{
  font-weight: 600;
  color: #ffffff;
}
.portfolio_wrap .info .content .spotlight i{
  font-size: 15px;
  font-weight: 600;
  color: #013660;
}
.portfolio_wrap .info .content .spotlight span{
  font-weight: 600;
  margin-left: 5px;
}

@media (max-width: 959px) {
  /* index.html */
  .index_wrap {
    flex-direction: column-reverse
  }
  .section_intro {
    width: 100%;
    margin-top: 50px;
  }
  .section_image {
    width: 90%;
    margin: 50px;
  }
  .section_intro {
    width: 100%;
  }
  /* portfolio.html */
  .portfolio_wrap .title{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;
    flex-direction: column;
  }

}
@media (max-width: 759px) {
  .index_wrap .words {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  #ani_name{font-size: 45px;}
  .index_wrap .words {
    font-size: 25px;
  }
  .section_intro .text_box .circle {
    width: 350px;
    height: 350px;
  }
  .section_intro .text_card {
    flex-wrap: wrap;
    margin-top: 120px;
  }
}